{% extends 'base.html' %}
{% block title %}Review{% endblock %}
{% block head %}
    {{ super() }} {# to keep the default content of the head block #}
    <script src="kendo/jquery.min.js"></script>
    <script src="kendo/jszip.min.js"></script>
    <script src="kendo/kendo.all.min.js"></script>
{% endblock %}
{% block content %}
    <p>
        <a href='#' onclick='save()' class='top-link';>Save</a>
        <a href='#' onclick='html()' class='top-link';>Export to html</a>
        <a href='#' onclick='export_pdf()' class='top-link';>Export to pdf</a>
    </p>

    {% if saved %}
        {% set save_status = "saved" %}
    {% else %}
        {% set save_status = "not-saved" %}
    {% endif %}

    <div id="to_export">
    <div class="file-infos">
        <span id="save-status" class="{{save_status}}"></span>
        <span class="file-name">{{- filename | urlencode}}</span>
        <span class="number-of-lines">{{- lines | length}} lines</span>
    </div>
    <table id="code-table">
        <tbody id="code-table-tbody">
            {# save texteareas ids to expend them later #}
            {% set textareas = [] %}
            {% for line in lines %}
                {% set str_index = (loop.index | string()) %}
                {# import save comments and markups #}
                {% if str_index in comments %}

                    {# match comment color with line color #}
                    {% set classes = "comment-line" %}
                    {% if str_index in markups %}
                        {% set classes = classes + " " + markups[str_index] %}
                    {% endif %}

                    <tr 
                        id="comment-line-{{loop.index}}" 
                        class="{{classes}}"
                        data-line="{{loop.index}}"
                    >
                        <td class="comment-option">
                            <div class="down_arrow">&#8595</div>
                        </td>
                        <td style="position: relative;">
                            <div class="input-group input-group-sm comment">
                                <div>
                                    <button class="base-button delete" type="submit" onclick="delete_comment(this)">
                                        <i class="fa fa-times cross"></i>
                                    </button></div>
                                <textarea 
                                    id="textarea-{{loop.index}}"
                                    data-line="{{loop.index}}"
                                    name="comment" 
                                    class="form-control comment-text"
                                    onblur="blur_comment(this);"
                                    type="text"
                                >{{comments[str_index]}}</textarea>                     
                            </div>
                        </td>
                    </tr>
                    {{(textareas.append("textarea-" + str_index)|default("", True))}}

                    
                {% endif %}

                {# set tr to the markup color #}
                {% set classes = "code-table-entry" %}

                {% if str_index in markups %}
                    {% set classes = classes + " " + markups[str_index] %}
                    {% set data_color = markups[str_index] %}
                {% else %}
                    {% set data_color = "none" %}
                {% endif %}

                {% if str_index in comments %}
                    {% set classes = classes + " commented"%}
                    {% if not str_index in markups %}
                        {% set classes = classes + " blue"%}
                    {% endif %}
                {% endif %}
                <tr 
                    id="line-{{loop.index}}"
                    class="{{classes}}"
                    data-line="{{loop.index}}"
                    data-color="{{data_color}}"
                >
                    <td class="line-number">
                        <div><button class="base-button" type="submit" onclick="comment(this)"><i class="far fa-comment bubble"></i></button></div>
                        <div><button class="base-button markup" type="submit" onclick="mark(this)"><i class="fas fa-map-marker-alt marker"></i></button></div>
                        <div>{{loop.index}}</div>
                    </td>

                    <td class="line-of-code"><code>{{ line | safe }}</code></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <span id="debug"></span>

    <script type="text/javascript">
        const TBODY = document.getElementById('code-table-tbody');
        var saved_status = document.getElementById('save-status');

        function mark(button) {
            modify();
            var tr = button.parentNode.parentNode.parentNode;
            var prev_color;
            var comment = document.getElementById("comment-" + tr.id);

            if ($(tr).hasClass("blue")) {
                prev_color = "blue";
                $(tr).removeClass("blue");
                tr.className += " red";
                tr.dataset.color = "red";
            }
            else if($(tr).hasClass("red")) {
                prev_color = "red";
                $(tr).removeClass("red");
                tr.className += " green";
                tr.dataset.color = "green";
            } 
            else if ($(tr).hasClass("green")) {
                prev_color = "green";
                $(tr).removeClass("green");

                if(comment != null) {
                    tr.dataset.color = "blue";
                    tr.className += " blue";
                } 
                else {
                    tr.dataset.color = "none";
                }
            }
            else {
                prev_color = "blue";
                tr.className += " blue";
                tr.dataset.color = "blue";
            }

            if(comment != null) {
                $(comment).removeClass(prev_color);
                comment.className += " " + tr.dataset.color;
            }


            var http_request = new XMLHttpRequest();
            var line = tr.dataset.line;
            var color = tr.dataset.color;

            if(color == "none") {
                var url = `remove_mark?filename={{ filename | urlencode }}&line=${line}`;
            } 
            else {
                var url = `add_mark?filename={{ filename | urlencode }}&color=${color}&line=${line}`;
            }

            

            http_request.open('GET', url);
            http_request.send();
            http_request.onreadystatechange=(e)=>{
                // TODO: display a small confirmation somewhere ? according to status code
            }



            // document.getElementById("debug").innerHTML =
        }

        function comment(button) {
            modify();
            var tr = button.parentNode.parentNode.parentNode;

            if($(tr).hasClass("commented")) return;

            var input_row = document.createElement('tr');
            var code_line = tr.dataset.line;
            input_row.innerHTML = `

                <td class="comment-option">
                    <div class="down_arrow">&#8595</div>
                </td>
                <td style="position: relative;">
                    <div class="input-group input-group-sm comment">
                        <div><button class="base-button delete" type="submit" onclick="delete_comment(this)"><i class="fa fa-times cross"></i></button></div>
                        <textarea 
                            data-line="${code_line}"
                            name="comment" 
                            class="form-control comment-text"
                            onblur="blur_comment(this);"
                            type="text"
                            placeholder="Comment"
                        ></textarea>                     
                    </div>
                </td>`;

            input_row.id = "comment-" + tr.id;
            input_row.dataset.line = tr.dataset.line;
            input_row.className += " comment-line";
            TBODY.insertBefore(input_row, tr);

            tr.className += " commented";

            if(tr.dataset.color != "none") {
                input_row.className += " " + tr.dataset.color;
            } 
            else {
                tr.className += " blue";
            }
            
            
            // input_row.getElementsByTagName('input')[0].focus();
        }

        // imported from https://jsfiddle.net/cferdinandi/mqwwpL6u/
        // automatically expends a textarea
        var autoExpand = function (field) {

            // Reset field height
            field.style.height = 'inherit';

            // Get the computed styles for the element
            var computed = window.getComputedStyle(field);

            // Calculate the height
            var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
                         + parseInt(computed.getPropertyValue('padding-top'), 10)
                         + field.scrollHeight
                         + parseInt(computed.getPropertyValue('padding-bottom'), 10)
                         + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

            field.style.height = height + 'px';

        };

        // listen for user input
        document.addEventListener('input', function (event) {
            if (!$(event.target).hasClass('comment-text')) return;
            autoExpand(event.target);
        }, false);

        {% for textarea in textareas %}
            autoExpand(document.getElementById('{{textarea}}'));
        {% endfor %}

        document.addEventListener('keydown', function (event) {
            if (!$(event.target).hasClass('comment-text')) return;
            var keyCode = event.keyCode || event.which;

            var textarea = event.target;
            if (keyCode == 9) {
                event.preventDefault();

                var s = textarea.selectionStart;
                textarea.value = textarea.value.substring(0,textarea.selectionStart) + "\t" + textarea.value.substring(textarea.selectionEnd);
                textarea.selectionEnd = s+1; 
            }
        }, false);


        /* Either save or delete comment when leaving a comment input */
        function blur_comment(input) {
            modify();
            var http_request = new XMLHttpRequest();
            var line = input.dataset.line;
            var url = `add_comment?filename={{ filename | urlencode }}&line=${line}`;
            var body = input.value;

            http_request.open('POST', url, true);
            http_request.send(body);
            http_request.onreadystatechange=(e)=>{
                // TODO: display a small confirmation somewhere ? according to status code
            }
        }

        function delete_comment(input) {
            modify();
            var is_blue = false;
            var http_request = new XMLHttpRequest();
            

            var input_row = input.parentElement.parentElement.parentElement.parentElement;
            var line_number = input_row.dataset.line;
            input_row.remove();
            
            var commented_line = document.getElementById("line-" + line_number);
            $(commented_line).removeClass("commented");

            if ($(commented_line).hasClass("blue")) {
                $(commented_line).removeClass("blue");
                var is_blue = true;
            }
            

            var url = `remove_comment?filename={{ filename | urlencode }}&line=${line_number}`;
            http_request.open('GET', url);
            http_request.send();
            http_request.onreadystatechange=(e)=>{
                // TODO: display a small confirmation somewhere ? according to status code
            }

            // remove blue color when removing comment
            if (is_blue) {
                var url = `remove_mark?filename={{ filename | urlencode }}&line=${line_number}`;
                http_request.open('GET', url);
                http_request.send();
                http_request.onreadystatechange=(e)=>{
                    // TODO: display a small confirmation somewhere ? according to status code
                }
            }
        }

        function modify() {
            if ($(saved_status).hasClass("saved")) {
                $(saved_status).removeClass("saved");
                saved_status.className += " not-saved";
            }
        }

        function save() {
            var http_request = new XMLHttpRequest();
            http_request.open('GET', `save?filename={{ filename | urlencode}}`);
            http_request.send();
            http_request.onreadystatechange=(e)=>{
                // TODO: display a small confirmation somewhere ? according to status code
            }

            if ($(saved_status).hasClass("not-saved")) {
                $(saved_status).removeClass("not-saved");
                saved_status.className += " saved";
            }
        }
        function export_html() {
            // TODO: create an html version of the annotated code
        }
        // function export_pdf() {
            
        // }

        function export_pdf() {
            // html2canvas(document.body).then(function(canvas) {
            //     var img=canvas.toDataURL("image/png");
            //     alert(canvas.width)
            //     alert(canvas.height)
            //     var doc = new jsPDF('p', 'mm', [(canvas.width) * 25.4 / 96 , (canvas.height + 160) * 25.4 / 96]);
            //     doc.addImage(img,'JPEG', 0, 0);
            //     doc.save('test.pdf');
            // });
            kendo.drawing.drawDOM("#to_export", 
            { 
                paperSize: "A4",
                margin: { top: "1cm", bottom: "1cm", left: "1cm",
                right: "1cm"},
                scale: 0.8,
                height: 500
            })
                .then(function(group){
                kendo.drawing.pdf.saveAs(group, "{{filename}}.pdf")
            });
        }

    </script>

    <style type="text/css">




        /*tr:hover {background-color:rgb(200, 200, 200);}*/

        

/*        button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
            cursor: pointer;
        }*/

        .top-link {
            padding: 10px;
            margin-right: 5px;
            border-style: solid;
            border-width: 1px;
            border-radius: 4px;
        }

        .top-link:hover {
            background-color: rgba(220, 240, 258, 0.75);
        }

        .file-infos {
            border: 2px solid rgb(150, 150, 150);
            background-color: rgb(245, 245, 245);
            border-radius: 4px;
            padding: 10px;
            margin-bottom: -1px;
            border-collapse: separate;
        }

        #save-status {
            font-size: 8px;
            padding-left: 4px;
            padding-right: 5px;
            padding-top: 5px;

            border: 1px solid rgb(150, 150, 150);
            border-radius: 25%;
            margin-left: 5px;
            margin-bottom: 10px;
        }

        .file-name {
            padding-left: 10px;
            font-family: Consolas,monospace;
        }

        .saved {
            background-color: rgba(70, 245, 64, 0.3);
        }

        .not-saved {
            background: rgba(245, 64, 64, 0.3);
        }

        .number-of-lines {
            color : rgb(150, 150, 150);
            font-family: Consolas,monospace;
            margin-left: 15px;
            font-size: 14px;
        }

        #code-table {
/*           display: block;
           font-family: monospace;*/
            border-collapse: separate;
            border-spacing: 0;
            font-size : 1.5em;
            border: 1px solid rgb(150, 150, 150);
            background-color: rgb(253, 253, 253);
            border-radius: 4px;
            padding-top: 3px;
            padding-bottom: 3px;
            line-height: 120%;
            font-size: 0.85rem;
            line-height: 1.1875rem;
            font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
            /*overflow-x: auto;*/
            /*overflow-y: hidden;*/
            /*white-space: nowrap;*/

        }

        #code-table-body {

        }

        .code-table-entry:hover .line-number .base-button{
            opacity: 1;
        }

        .code-table-entry:hover .line-number  {
            background-color: rgba(220, 240, 258);
        }

        .comment-line:hover .base-button{
            opacity: 1;
        }

        .base-button {
            border-radius: 30%;
            background: #fff;
            font-size: 12px;
            color: #1f75cb;
            border: 1px solid #1f75cb;
            width: 24px;
            height: 24px;
            opacity: 0;
            margin-left: -84px;
            position: absolute;
        }

        .base-button:hover {
            background: #1f75cb;
            color: #fff;
        }

        .delete {
            margin-left: -90px;
            font-size: 17px;
        }

        .cross {
            margin-left: -1px;
        }

        .markup {
            margin-left: -61px;
        }

        .marker {
            font-size: 15px;
            margin-left: -1px;
        }

        .bubble {
            font-size: 17px;
            margin-left: -3px;
        }

        .line-number {
            color : rgb(150, 150, 150);
            text-align: right;
            vertical-align : top;
            padding-left: 5em;
            padding-right: 0.5em;
            border-right: 1px solid rgba(150, 150, 150, 0.5);
        }

        .line-of-code {
            padding-left: 0.5em;
            padding-right: 5em;
            white-space: pre-wrap;
            font-size: 0.90rem;
            width: 100%;
        }

        .comment-line {
            background-color: rgba(220, 240, 258);
        }

        .comment {
            font-size: .6em;
            padding-top: 2em;
            padding-bottom: 2em;
            padding-left: 3em;
            padding-right: 3em;
        }

        .comment-text {
            border-width: thick;
            resize: none;
        }

        .red {
            background: rgba(245, 64, 64, 0.3);
        }

        .orange {
            background: rgba(245, 184, 64, 0.4);
        }

        .green {
            background: rgba(70, 245, 64, 0.3);
        }

        .blue {
            background: rgba(220, 240, 258);
        }

        .blue .line-of-code {
            background: rgba(265, 265, 265, 0.5);
        }

        .red .line-of-code {
            background: rgba(265, 265, 265, 0.5);
        }

        .green .line-of-code {
            background: rgba(265, 265, 265, 0.4);
        }

        .comment-option {
            border-right: 1px solid rgba(150, 150, 150, 0.5);
            vertical-align : bottom;
        }

        .down_arrow {
            color : rgb(150, 150, 150);
            text-align: right;
            padding-right : 8px;
            font-size: 1.5em;
        }



        {{ style | safe }}
    </style>
{% endblock %}
