{% extends 'base.html' %}
{% block title %}Review{% endblock %}
{% block head %}
    {{ super() }} {# to keep the default content of the head block #}
    {# and here we can add other things #}
{% endblock %}
{% block content %}
    <p>
        <a href='#' onclick='save()';>Save</a>
        <a href='#' onclick='html()';>Export to html</a>
        <a href='#' onclick='pdf()';>Export to pdf</a>
    </p>
    <table id="code-table">
        <tbody id="code-table-tbody">
            {% for line in lines %}
                <tr class="code-table-entry" data-line="{{loop.index}}">
                    <td class="line_number">
                        <div><button class="comment_button" type="submit""><i class="far fa-comment bubble"></i></button></div>
                        <div><button class="comment_button markup" type="submit" onclick="mark(this)"><i class="fas fa-map-marker-alt marker"></i></button></div>
                        <div>{{loop.index}}</div>
                    </td>

                    <td class="line_of_code"><code>{{ line | safe }}</code></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">

        const TBODY = document.getElementById('code-table-tbody');

        function mark(element) {
            table_entry = element.parentNode.parentNode.parentNode;
            table_entry_color = table_entry.style.backgroundColor;
            red = "rgba(245, 64, 64, 0.3)";
            orange = "rgba(245, 184, 64, 0.4)";
            green = "rgba(70, 245, 64, 0.3)";

            if(table_entry_color == "") {
                table_entry.style.backgroundColor = red;
            } 
            else if (table_entry_color == red) {
                table_entry.style.backgroundColor = orange;
            }
            else if (table_entry_color == orange) {
                table_entry.style.backgroundColor = green;
            }
            else {
                table_entry.style.backgroundColor = "";
            }
            // document.getElementById("debug").innerHTML = element.parentNode.parentNode.parentNode.style.backgroundColor;
            // element.parentNode.parentNode.parentNode.style.backgroundColor = "red";
        }

        function comment(tr) {
            var input_row = document.createElement('tr');
            var code_line = tr.dataset.line;
            input_row.innerHTML = `
                <td></td>
                <td style="position: relative;">
                    <div class="input-group input-group-sm" style="font-size: .6em;">
                        <input
                            class="form-control"
                            data-line="${code_line}"
                            onblur="blur_comment(this);"
                            type="text"
                            placeholder="Comment"/>
                    </div>
                </td>`;
            TBODY.insertBefore(input_row, tr);
            input_row.getElementsByTagName('input')[0].focus();
        }

        /* Either save or delete comment when leaving a comment input */
        function blur_comment(input) {

            var http_request = new XMLHttpRequest();

            if (input.value == "") {
                var url = `remove_comment?filename={{ filename | urlencode }}&line=${input.dataset.line}`;
                var input_row = input.parentElement.parentElement;
                input_row.remove();
            }
            else {
                var line = input.dataset.line;
                var url = `add_comment?filename={{ filename | urlencode }}&comment=${input.value}&line=${line}`;
            }

            http_request.open('GET', url);
            http_request.send();
            http_request.onreadystatechange=(e)=>{
                // TODO: display a small confirmation somewhere ? according to status code
            }
        }

        function save() {
            var http_request = new XMLHttpRequest();
            http_request.open('GET', `save?filename={{ filename | urlencode}}`);
            http_request.send();
            http_request.onreadystatechange=(e)=>{
                // TODO: display a small confirmation somewhere ? according to status code
            }
        }
        function export_html() {
            // TODO: create an html version of the annotated code
        }
        function export_pdf() {
            // TODO: create a pdf version of the annotated code
        }

    </script>

    <style type="text/css">




        /*tr:hover {background-color:rgb(200, 200, 200);}*/

        .code-table-entry:hover .line_number .comment_button{
            opacity: 1;
        }

        .code-table-entry:hover .line_number  {
            background-color: rgba(217, 237, 255, 0.75);
        }

/*        button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
            cursor: pointer;
        }*/



        #code-table {
/*           display: block;
           font-family: monospace;*/
            border-collapse: separate;
            border-spacing: 0;
            font-size : 1.5em;
            border: 1px solid rgb(150, 150, 150);
            background-color: rgb(253, 253, 253);
            border-radius: 4px;
            padding-top: 3px;
            padding-bottom: 3px;
            line-height: 120%;
            font-size: 0.85rem;
            line-height: 1.1875rem;
            font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
            /*overflow-x: auto;*/
            /*overflow-y: hidden;*/
            /*white-space: nowrap;*/

        }

        #code-table-body {

        }

        .comment_button {
            border-radius: 30%;
            background: #fff;
            font-size: 12px;
            color: #1f75cb;
            border: 1px solid #1f75cb;
            width: 24px;
            height: 24px;
            opacity: 0;
            margin-left: -84px;
            position: absolute;
        }

        .comment_button:hover {
            background: #1f75cb;
            color: #fff;
        }

        .markup {
            margin-left: -61px;
        }

        .marker {
            font-size: 15px;
            margin-left: -1px;
        }

        .line_number_hover .comment_button {
            opacity: 1;
        }

        .bubble {
            font-size: 17px;
            margin-left: -3px;
        }

        .line_number {
            color : rgb(150, 150, 150);
            text-align: right;
            vertical-align : top;
            padding-left: 5em;
            padding-right: 0.5em;
            border-right: 1px solid rgba(150, 150, 150, 0.5);
        }

        .line_number_hover {
            background-color: rgba(217, 237, 255, 0.85);
        }

        .line_of_code {
            padding-left: 0.5em;
            padding-right: 5em;
            white-space: pre-wrap;
            font-size: 0.90rem;
            width: 100%;
        }


        {{ style | safe }}
    </style>
{% endblock %}
