{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }} {# to keep the default content of the head block #}
    {# and here we can add other things #}
{% endblock %}
{% block content %}
    <form method='GET' action=''>
        <label for='cwd'>Working Directory</label> : <input style='width: 500px;' type='text' name='cwd' value='{{cwd}}'>
        <button type='submit'>Change</button>
        <a href="review?cwd={{cwd}}">Review this directory</a>
    </form>
    {% if not files %}
    <p>Invalid or empty directory</p>
    {% else %}
    <ul>
        {% for dir in dirs %}
            {% if not dir.startswith('.') %}
            <li><a href='/?cwd={{cwd}}/{{dir}}'>{{dir}}</a></li>
            {% endif %}
        {% endfor %}
        {% for file in files %}
            {% if not file.startswith('.') %}
            <li>{{file}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
